{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'test-plan.css' %}">
{% endblock %}

{% block content %}

        <form method="POST">
          {% csrf_token %}
          <div class="container">
              MiniManager Military Version is a manager/configurator for simulations conducted in Mininet-WiFi, focused on military operations scenarios. Through MiniManager, users can configure both the military scenario and the specifications of the wireless communication network, either by importing the configuration from an ontology or manually.<br>
              <button type="submit" name="download_ttl" class="btn btn-secondary">Download Base Domain Ontology</button><br><br>
            </div><br><br>

          <div class="container">
              MiniManager Military Version is an extension of MiniManager. Click the "Download MiniManager Paper" button to download the article about MiniManager.<br>
              <button type="submit" name="download_paper" class="btn btn-secondary">Download MiniManager Paper</button><br><br>
            </div><br><br>

          <div class="container">
              Click the download button below to download the base ontology for creating military scenarios.
            </div><br><br>
          </div>
        </form>
<br><br><br>

   <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel"></h3>
              <ul class="footer-link">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="../static/img/imelogo.jpeg" alt="" height="150px"></h3>
                <div class="textwidget">
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis.</p>
                -->
                </div>

              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <br>
              <br>
              <h3 class="footer-titel">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../static/img/gitlab_icon.png" width="10%" height="">&nbsp;gitlab</h3>
              <ul class="address">
                <li>
                  <a href="https://gitlab.com/andredemori/mini-manager_" target="_blank">https://gitlab.com/andredemori/mini-manager_</a>
                </li>
                <li>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel"></h3>
              <ul class="footer-link">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>MiniManager 2023 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>


{% endblock %}